@model Images
@{
    ViewData["Title"] = "ImageUpdate";
}

<h1>Resim Güncelleme Sayfası</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <form method="post" asp-action="ImageUpdate" enctype="multipart/form-data" asp-antiforgery="true">
                        <div>
                            <input asp-for="ImageId" hidden />
                            <input type="hidden" asp-for="AdvertId" />

                            <input type="file" asp-for="Image" multiple />
                            <br />
                            <br />
                            <button type="submit" class="btn btn-outline-warning">Resimleri Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>